<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <localRepository>/Users/marcelosales/.m2/repository</localRepository>
  <servers>
    <server>
      <id>snapshots</id>
      <username>admin</username>
      <password>{SAJYyn6uxT0HZM0iybBfO84fpCUiwSo18pxRJj+xHCs=}</password>
    </server>
    <server>
      <id>releases</id>
      <username>admin</username>
      <password>{SAJYyn6uxT0HZM0iybBfO84fpCUiwSo18pxRJj+xHCs=}</password>
    </server>
    <server>
      <id>inpi-snapshots</id>
      <username>marcelo.sales</username>
      <password>c@lma123</password>
    </server>
    <server>
      <id>inpi-releases</id>
      <username>c@lma123</username>
      <password>c@lma123</password>
    </server>
  </servers>
  <!--  <mirrors>
  <mirror>
    <id>central</id>
    <name>central</name>
    <url>http://localhost:8081/repository/maven-public/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>-->
<profiles>
  <profile>
    <repositories>
      <repository>
        <id>local-nexus</id>
        <name>local-nexus</name>
        <url>http://192.168.1.116:8081/repository/maven-public/</url>
        <layout>default</layout>
        <releases>
          <enabled>true</enabled>
          <updatePolicy>always</updatePolicy>
        </releases>
      </repository>
      <repository>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>release</id>
        <name>release</name>
        <url>http://192.168.1.116:8081/repository/maven-releases</url>
      </repository>
      <repository>
        <snapshots />
        <id>snapshot</id>
        <name>snapshot</name>
        <url>http://192.168.1.116:8081/repository/maven-snapshots</url>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <id>local-nexus</id>
        <url>http://192.168.1.116:8081/repository/maven-public/</url>
      </pluginRepository>
    </pluginRepositories>
    <id>local-nexus</id>
    <properties>
      <altSnapshotDeploymentRepository>snapshots::default::http://192.168.1.116:8081/repository/maven-snapshots</altSnapshotDeploymentRepository>
      <altReleaseDeploymentRepository>releases::default::http://192.168.1.116:8081/repository/maven-releases</altReleaseDeploymentRepository>
    </properties>
  </profile>

  <profile>
    <repositories>
      <repository>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>public-release</id>
        <name>public-release</name>
        <url>http://192.168.1.116:8081/artifactory/public</url>
      </repository>
      <repository>
        <snapshots />
        <id>public-snapshots</id>
        <name>public-snapshots</name>
        <url>http://192.168.1.116:8081/artifactory/public</url>
      </repository>
      <repository>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>release</id>
        <name>release</name>
        <url>http://192.168.1.116:8081/artifactory/libs-release-local</url>
      </repository>
      <repository>
        <snapshots />
        <id>snapshot</id>
        <name>snapshot</name>
        <url>http://192.168.1.116:8081/artifactory/libs-snapshot-local</url>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>release</id>
        <name>public</name>
        <url>http://192.168.1.116:8081/artifactory/public</url>
      </pluginRepository>
      <pluginRepository>
        <snapshots />
        <id>snapshot</id>
        <name>public</name>
        <url>http://192.168.1.116:8081/artifactory/public</url>
      </pluginRepository>
    </pluginRepositories>
    <id>artifactory</id>
  </profile>

  <profile>
    <repositories>
      <repository>
        <id>inpi</id>
        <name>inpi</name>
        <url>http://172.20.2.103:8081/repository/maven-public/</url>
        <layout>default</layout>
        <releases>
          <enabled>true</enabled>
          <updatePolicy>always</updatePolicy>
        </releases>
        <snapshots>
          <enabled>true</enabled>
        </snapshots>
      </repository>
      <repository>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>release</id>
        <name>release</name>
        <url>http://172.20.2.103:8081/repository/maven-releases</url>
      </repository>
      <repository>
        <snapshots>
          <enabled>true</enabled>
        </snapshots>
        <id>snapshots</id>
        <name>snapshots</name>
        <url>http://172.20.2.103:8081/repository/maven-snapshots</url>
      </repository>

    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <id>inpi</id>
        <url>http://172.20.2.103:8081/repository/maven-public/</url>
      </pluginRepository>
    </pluginRepositories>
    <id>inpi</id>
    <properties>
      <altSnapshotDeploymentRepository>inpi-snapshots::default::http://172.20.2.103:8081/repository/maven-snapshots</altSnapshotDeploymentRepository>
      <altReleaseDeploymentRepository>inpi-releases::default::http://172.20.2.103:8081/repository/maven-releases</altReleaseDeploymentRepository>
    </properties>
  </profile>

  <profile>
    <repositories>
      <repository>
        <releases/>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>fusesource</id>
        <url>http://repo.fusesource.com/nexus/content/groups/public/</url>
      </repository>
      <repository>
        <releases/>
        <snapshots/>
        <id>apache-public</id>
        <url>https://repository.apache.org/content/groups/public/</url>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <releases/>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>fusesource-plugin</id>
        <url>http://repo.fusesource.com/nexus/content/groups/public/</url>
      </pluginRepository>
    </pluginRepositories>
    <id>fusesource</id>
  </profile>
  <profile>
    <repositories>
      <repository>
        <releases/>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>jboss-ea-repository</id>
        <name>A jboss-ea-repository</name>
        <url>https://maven.repository.redhat.com/earlyaccess/all</url>
      </repository>
      <repository>
        <releases/>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>maven central</id>
        <url>https://repo1.maven.org/maven2</url>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <releases/>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>jboss-groups-ea-plugin-repository</id>
        <name>A jboss-groups-ea-plugin-repository</name>
        <url>https://repository.jboss.org/nexus/content/groups/ea</url>
      </pluginRepository>
      <pluginRepository>
        <releases/>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>jboss-ga-plugin-repository</id>
        <name>A jboss-groups-ea-plugin-repository</name>
        <url>http://maven.repository.redhat.com/techpreview/all</url>
      </pluginRepository>
    </pluginRepositories>
    <id>jboss-ga-repository</id>
  </profile>
  <profile>
    <repositories>
      <repository>
        <releases>
          <updatePolicy>never</updatePolicy>
        </releases>
        <snapshots>
          <enabled>false</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
        <id>redhat-ga-repository</id>
        <name>Red Hat GA repository</name>
        <url>https://maven.repository.redhat.com/ga/</url>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <releases>
          <updatePolicy>never</updatePolicy>
        </releases>
        <snapshots>
          <enabled>false</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
        <id>redhat-ga-repository</id>
        <name>A Red Hat GA repository</name>
        <url>http://maven.repository.redhat.com/ga/</url>
      </pluginRepository>
    </pluginRepositories>
    <id>redhat-ga-repository</id>
  </profile>
  <profile>
    <repositories>
      <repository>
        <releases>
          <updatePolicy>never</updatePolicy>
        </releases>
        <snapshots>
          <enabled>false</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
        <id>redhat-ea-repository</id>
        <name>Red Hat EA repository</name>
        <url>https://mvnrepository.com/repos/redhat-earlyaccess</url>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <releases>
          <updatePolicy>never</updatePolicy>
        </releases>
        <snapshots>
          <enabled>false</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
        <id>redhat-ea-repository</id>
        <name>A Red Hat EA repository</name>
        <url>https://mvnrepository.com/repos/redhat-earlyaccess</url>
      </pluginRepository>
    </pluginRepositories>
    <id>redhat-ea-repository</id>
  </profile>
  <profile>
    <repositories>
      <repository>
        <releases>
          <updatePolicy>always</updatePolicy>
        </releases>
        <snapshots/>
        <id>boundlessgeo</id>
        <url>http://repo.boundlessgeo.com/main/</url>
        <name>boundlessgeo</name>
        <layout>default</layout>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <releases/>
        <snapshots>
          <enabled>false</enabled>
        </snapshots>
        <id>boundlessgeo-plugin</id>
        <url>http://repo.boundlessgeo.com/main/</url>
      </pluginRepository>
    </pluginRepositories>
    <id>boundlessgeo</id>
  </profile>
  <profile>
    <id>jaspersoft</id>
    <repositories>
      <repository>
        <id>jaspersoft-repo</id>
        <name>jaspersoft-repo</name>
        <url>https://jaspersoft.artifactoryonline.com/jaspersoft/jaspersoft-repo</url>
        <releases>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </releases>
        <snapshots>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
      </repository>
      <repository>
        <id>jaspersoft-remote-repos</id>
        <name>jaspersoft-remote-repos</name>
        <url>https://jaspersoft.artifactoryonline.com/jaspersoft/remote-repos</url>
        <releases>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </releases>
        <snapshots>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <id>jaspersoft-repo</id>
        <name>jaspersoft-repo</name>
        <url>https://jaspersoft.artifactoryonline.com/jaspersoft/jaspersoft-repo</url>
        <releases>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </releases>
        <snapshots>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
      </pluginRepository>
      <pluginRepository>
        <id>jaspersoft-remote-repos</id>
        <name>jaspersoft-remote-repos</name>
        <url>https://jaspersoft.artifactoryonline.com/jaspersoft/remote-repos</url>
        <releases>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </releases>
        <snapshots>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
      </pluginRepository>
    </pluginRepositories>
  </profile>
  <profile>
    <id>jasperreports</id>
    <repositories>
      <repository>
        <id>jr-ce-releases</id>
        <name>jr-ce-releases</name>
        <url>https://jaspersoft.artifactoryonline.com/jaspersoft/jr-ce-releases</url>
        <releases>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </releases>
        <snapshots>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <id>jr-ce-releases</id>
        <name>jr-ce-releases</name>
        <url>https://jaspersoft.artifactoryonline.com/jaspersoft/jr-ce-releases</url>
        <releases>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </releases>
        <snapshots>
          <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
        </snapshots>
      </pluginRepository>
    </pluginRepositories>
  </profile>
  <profile>
    <repositories>
      <repository>
        <releases>
          <updatePolicy>never</updatePolicy>
        </releases>
        <snapshots>
          <enabled>false</enabled>
          <updatePolicy>always</updatePolicy>
        </snapshots>
        <id>jcenter</id>
        <name>JCenter</name>
        <url>https://jcenter.bintray.com/</url>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <releases>
          <updatePolicy>never</updatePolicy>
        </releases>
        <snapshots>
          <enabled>false</enabled>
          <updatePolicy>always</updatePolicy>
        </snapshots>
        <id>jcenter</id>
        <name>Jcenter</name>
        <url>https://jcenter.bintray.com/</url>
      </pluginRepository>
    </pluginRepositories>
    <id>jcenter</id>
  </profile>
  <profile>
    <id>entando-allow-snapshots</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>snapshots-repo</id>
        <url>https://oss.sonatype.org/content/repositories/snapshots</url>
        <releases>
          <enabled>false</enabled>
        </releases>
        <snapshots>
          <enabled>true</enabled>
          <updatePolicy>always</updatePolicy>
        </snapshots>
      </repository>
    </repositories>
  </profile>
</profiles>
<activeProfiles>
  <!--<activeProfile>inpi</activeProfile>-->
  <!--<activeProfile>artifactory</activeProfile>-->
  <activeProfile>redhat-ea-repository</activeProfile>
  <activeProfile>jcenter</activeProfile>
  <activeProfile>redhat-ga-repository</activeProfile>
  <activeProfile>jboss-ga-repository</activeProfile>
  <!--<activeProfile>fusesource</activeProfile>
  <activeProfile>boundlessgeo</activeProfile>
  <activeProfile>entando-allow-snapshots</activeProfile>-->
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
  </pluginGroups>
</settings>
